
<!-- Internal style sheet to override...... -->

<style>

body{
	background-color:#EBF3FF;
	color:#000000;
	
	}
h5{
 	font-style:italic;
 	font-size: 2.25em;
}
 .navbar-brand{
	font-size: 2em;
}
.boldFont{
	font-weight:bold;
}

p{
	font-size:1.2em;
	font-family:Arial,Helvetica,sans-serif;
}

.centerContent{
	padding:0px 10px;
	margin:0px 20px;
}

.hero-unit h1{
	font-size:1.25em;
}

ul
{
	float:left;
	padding:0;
	margin:0;	
}
a
{
	float:left;
	padding:0
	margin:0;
	font-size: 1.8em;
	
}
 .wrapper{
    	margin-top:100;
    	margin-bottom:0;
    	padding-bottom:0;
    }
    

    

<!-- Media queriis for resposive web design--- -->


	 @media screen and (max-width: 1024px) { 
      /*768 and below*/
      h5,.dropdown-menu,.navbar-brand{font-size: 2em;}
      .hero-unit h1{font-size:1.10em;}
      p{font-size:1em;}
      a{font-size: 1.5em;}
      
     
	}
      
    }

    @media screen and (max-width: 768px) { 
      /*768 and below*/
      a, h5, .dropdown-menu,.navbar-brand{font-size: 1.5em;}
      .hero-unit h1{font-size:0.95em;}
      p{font-size:1em;}
       a{font-size: 1.25em;}
       .wrapper{margin-top:200;padding-top:100;}
       
    }

    @media screen and (max-width: 600px) { 
      /*600 and below*/
      a,h5, .dropdown-menu, .navbar-brand{font-size: 1.25em;}
      .hero-unit h1{font-size:0.8em;}
      p{font-size:0.8em;}
       a{font-size: 1em;}
      
      
    }

    @media screen and (max-width: 500px) { 
      a,h5, .dropdown-menu, .navbar-brand{font-size: 1em;}
      .hero-unit h1{font-size:0.8em;}
      p{font-size:0.6em;}
       a{font-size: 0.8em;}
      
       }
    
   

</style>


<!-- Dynamicall binding the json object data to elements...... -->


<div>
<nav class="navbar navbar-default" role="navigation" >
  <div class="navbar-header" width="100%">
  	
	<div class="navbar-brand"><img id="logo" src="{{responseData.general.logo}}" alt="logo" width='25' height='25'>{{responseData.general.name}}</div>
	
	<ul  class="nav nav-tabs">
  
  		<li><a href="{{responseData.navigation[0].link}}">{{responseData.navigation[0].title}}</a></li>
  		<li><a href="{{responseData.navigation[1].link}}">{{responseData.navigation[1].title}}</a></li>
  		<li class="dropdown">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="{{responseData.navigation[2].link}}">
      				{{responseData.navigation[2].title}} <span class="caret"></span>
    		</a>
    		<ul class="dropdown-menu">
      		<li><a href="{{responseData.navigation[2].subnav[0].link}}">{{responseData.navigation[2].subnav[0].title}}</a></li>
  			<li><a href="{{responseData.navigation[2].subnav[1].link}}">{{responseData.navigation[2].subnav[1].title}}</a></li>
  			</ul>
  		</li>
	</ul>
	
 </div>

</nav>

<!-- center content -->

<div class="centerContent">
	<div>
  		<h5 class="boldFont">{{responseData.modules[1].title}}</h5>
      	<h5><i>Lorem ipsum dolar</i></h5>
      	<p>{{responseData.modules[1].subtitle}}</p>
	
	</div>
	
	<form role="form">
	<h5><i>{{responseData.modules[2].title}}</i></h5>
	<div class="form-group">
    	<label for="{{responseData.modules[2].fields[0].id}}">{{responseData.modules[2].fields[0].label}}</label>
   		<input type="{{responseData.modules[2].fields[0].type}}" class="form-control" 
   		id="{{responseData.modules[2].fields[0].id}}" required
   		placeholder="{{responseData.modules[2].messages.fname}}">
  	</div>
  	<div class="form-group">
    	<label for="{{responseData.modules[2].fields[1].id}}">{{responseData.modules[2].fields[1].label}}</label>
    	<input type="{{responseData.modules[2].fields[1].type}}" class="form-control" 
    	id="{{responseData.modules[2].fields[1].id}}" required
    	placeholder="{{responseData.modules[2].messages.email}}">
  	</div>
  	<div class="form-group">
    	<label for="country">{{responseData.modules[2].fields[2].label}}</label>
    	
    	<select class="form-control" required >
  			<option>{{responseData.modules[2].fields[2].options[0].text}}</option>
  			<option>{{responseData.modules[2].fields[2].options[1].text}}</option>
  			<option>{{responseData.modules[2].fields[2].options[2].text}}</option>
  			<option>{{responseData.modules[2].fields[2].options[3].text}}</option>
  			<option>{{responseData.modules[2].fields[2].options[4].text}}</option>
		</select>
  	</div>
  	
  	
  	<button type="{{responseData.modules[2].fields[3].type}}" class="btn btn-lg btn-primary">{{responseData.modules[2].fields[3].value}}</button>
	</form>
</div>
	<div class="wrapper">
      <div class="navbar navbar-default navbar-fixed-bottom">
        <footer class="hero-unit">
          <h1>This is footer text for ABC company. @Copy right 2013 </h1>
      </footer>
      </div>
      
    </div>
    
</div>

